body {
    padding: 0;
    margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    font-family: Roboto, sans-serif;
    color: #222;
	background: #f6f6f6
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img {
    height: 132px;
    width: 150px;
    margin: 10px;
}

.header {
    margin: 0;
    font-size: 36px;
    font-family: 'Russo One', Roboto, sans-serif;
}

main {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.policy {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.preview {
    height: 560px;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.download {
    margin-top: 25px;
    width: 250px;
}

footer {
    display: flex;
    justify-content: space-around;
	padding: 35px;
}

.active {
	border-radius: 5px;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

.toggle {
    display: flex;
}

a {
    font-size: 12px;
    color: #222;
    text-decoration-line: none;
	margin: 0 5px;
}

.description {
    width: 350px;
}
